@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Handjet', Arial, Helvetica, sans-serif;
  color: white;
}

:root {
  --comic-outline-color: black;
}

body {
  background-color: #571F43;
  color: white;
  font-family: 'Handjet', Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.comic-title {
  font-family: 'Luckiest Guy', cursive;
  font-size: 4rem;
  font-weight: normal;
  color: white;
  cursor: pointer;
  margin-bottom: 1.5rem;
  text-align: center;
  line-height: 1;
}

.comic-subtitle {
  font-family: 'Luckiest Guy', cursive;
  font-size: 2.5rem;
  font-weight: normal;
  color: white;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  line-height: 1;
}

.black-box {
  background-color: transparent !important;
  margin-top: 0px;
  margin-left: 50px;
  margin-right: 50px;
}

.card {
  background-color: #7D2C60;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 0.5rem;
  color: white;
}